.backBox 
{
    width: 1000px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 30px;
    background: url(https://assets.awwwards.com/awards/submissions/2020/02/5e469a5f90b1c614158410.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 35px 0px rgba(0, 0, 0, 0.5);
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

.loginBox
{
    width: 400px;
    height: 550px;
    margin-left: 30px;
    margin-top: 20px;
    padding: 30px;
    box-shadow: 0 0 35px 0px rgba(0, 0, 0, 0.5);
    background: rgba(255,255,255);
}

.textBox
{
    width: 400px;
    height: 200px;
    padding: 30px;
    margin-top: 130px;
    margin-left: 25px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.registerBox
{
    width: 400px;
    height: 550px;
    margin-left: 30px;
    margin-top: 20px;
    padding: 30px;
    box-shadow: 0 0 35px 0px rgba(0, 0, 0, 0.2);
    background: rgba(255,255,255);
}

/*
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'IM Fell French Canon SC', serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Marcellus', serif;
font-family: 'Marcellus SC', serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Poiret One', sans-serif;
*/
body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: left;
    /* justify-content: center; */
    background: rgba(45,43,46,255);
    background-size: 100%;
    background-repeat: no-repeat;
    /* display: flex; */
    overflow: hidden;
    min-height: 100vh;
    max-width: 1920px; /* Adjust this to your desired maximum width */
    font-family: 'Poiret One', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

input[type=text] 
{
    border-radius: 6px;
    width: 98%;
    height: 35px;
    font-size: 20px;
    font-family: 'Marcellus', serif;
    text-indent: 3%;
}

input[type=password] 
{
    border-radius: 6px;
    width: 98%;
    height: 35px;
    font-size: 20px;
    font-family: 'Marcellus', serif;
    text-indent: 3%;
}


input[type=submit] 
{
    border-radius: 15px;
    background: rgba(29,29,29,255);
    color: white;
    width: 100%;
    height: 55px;
    font-family: 'Marcellus', serif;
    font-size: 20px;
}

input[type=submit]:hover
{
    cursor: pointer;
}


input[type=text].dark
{
    background: rgba(29,29,29,255);
    border:none;
    padding: 10px;
    color: white;
    margin-top: 10px; 
    margin-bottom: 25px; 
    width: 70%;
    font-size: 16px;
    border-radius: 15px;
    font-family: 'Philosopher', sans-serif;
}

input[type=date]
{
    background: rgba(29,29,29,255);
    border:none;
    padding: 18px;
    color: white;
    margin-top: 10px; 
    margin-bottom: 25px; 
    width: 26%;
    font-size: 16px;
    border-radius: 15px;
    font-family: 'Philosopher', sans-serif;
}

input[type=time]
{
    background: rgba(29,29,29,255);
    border:none;
    padding: 18px;
    color: white;
    margin-top: 10px; 
    margin-bottom: 25px; 
    width: 26%;
    font-size: 16px;
    border-radius: 15px;
    font-family: 'Philosopher', sans-serif;
}

input[type=date]::-webkit-calendar-picker-indicator
{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

input[type="time"]::-webkit-calendar-picker-indicator
{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

select
{
    background: rgba(29,29,29) !important;
    border:none !important;
    padding: 18px !important;
    color: white !important;
    margin-top: 15px !important; 
    margin-bottom: 25px !important; 
    width: 35% !important;
    font-size: 16px !important;
    border-radius: 15px !important;
    font-family: 'Philosopher', sans-serif !important;
    appearance: none;
    -webkit-appearance: none;

}

button
{
    background: rgba(29,29,29,255);
    padding: 18px;
    color: white;
    margin-top: 0; 
    margin-bottom: 25px; 
    width: 73%;
    font-size: 16px;
    border-radius: 15px;
    font-family: 'Philosopher', sans-serif;
    border: none;
}

button:hover
{
    background: rgba(19,19,19);
    color: rgb(222, 222, 222);
    cursor: pointer;
}

nav 
{
    background: rgba(45,43,46,255);
    color: white;
    padding: 10px;
    text-align: right;
    border-bottom: 2px solid rgb(26, 26, 26);
    /* border-bottom: 2px solid #ffffff;  */
}

nav a 
{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block; /* Ensures the anchor takes up the full width */
}

nav a.active 
{
    text-shadow: 1px 1px 15px #fff, 1px 1px 15px #ccc;
}

nav a:hover 
{
    background-color: rgba(35,33,36);
    color: rgb(191, 191, 191);
    display: inline-block; /* Ensures the link takes up the full height */
    height: 100%;   /* Extends the link to the top and bottom of the nav */
    text-shadow: none;
}

nav a.split
{
    float: left;
}

nav a.split:hover
{
    background: rgba(45,43,46,255);
    color: rgb(255, 255, 255);
}

.content-wrapper 
{
    display: flex;
}

.messages-wrapper 
{
    display: flex;
    flex-direction: column;
    flex: 7;
}

.view-messages 
{
    background: rgba(14,14,14,255);
    padding: 10px;
    height: 485px;
    overflow-y: auto;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666666;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.send-messages 
{
    display: flex;
    color: white;
    background: rgba(14,14,14,255);
    border-top: 2px solid #1a1919;
    padding: 25px;
    overflow-y: auto;
}

.send-messages form 
{
    width: 100%; 
    display: flex;
    overflow-y: auto;
}

.view-open-chats 
{
    background: rgba(29,29,29,255);
    border-right: 1px solid #1a1919;
    color: white;
    flex: 1;
    height: 100vh;
    overflow-y: auto;
}

.column 
{
    overflow-y: auto;
    width: 50%;
    flex: 1; 
}
  
textarea 
{
    margin-top: 10px;
    width: 60%;
    height: 90px;
    padding: 20px;
    font-size: 16px;
    border-radius: 15px;
    font-family: 'Philosopher', sans-serif;
    background: rgba(29,29,29,255);
    border: none;
    color: white;
    resize: none; /* Disable resizing */
}

textarea.reply
{
    height: 20px;
    width: 44%;
}

.receivedMsg
{
    background: rgba(21,21,21,255);
    color: white;    
    border-radius: 15px;
    padding: 12px;
    width: 45%;
    font-family: 'Philosopher', sans-serif;
    font-size:16px; 
    margin-right: auto;
    margin-top: 10px;
}

.sentMsg
{
    /* border: 2px solid #ffffff; */
    border-radius: 15px;
    padding: 12px;
    border-color: #ccc;
    background: rgba(234, 234, 234,255);
    color: black;  
    width: 45%;
    margin-left:auto;
    font-family: 'Philosopher', sans-serif;
    font-size:16px;
    margin-top: 10px;
}

.tab 
{
    float: left;
    width: 140%;
}
  
.tab button 
{
    text-indent: 8%;
    display: block;
    background: none;
    color: white;
    padding: 10px 20px;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 0;
    height: 12vh;
    margin: 0;
}

.tab p
{
    font-size: 70%;
    text-indent: 8%;
}

.tab button:hover
{
    background: rgba(23,23,23,255);
    color: rgb(189, 189, 189);
}

.convo-user
{
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    color: white;
    font-size:16px;
    border-bottom: 2px solid #1a1919;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding-left: 200px;
    padding-right: 200px;
    width: auto;
    max-width: auto; /* Ensure the wrapper doesn't exceed the viewport width */
}


.container_dash {
  display: flex;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
  align-items: center;
}

.left-content_dash,
.right-content_dash {
  flex: 1;
/*  padding: 20px;*/
  /* Adjust styles for your content */
}

.divider_dash {
  width: 1px;
  background-color: #ccc; /* Divider color */
  height: auto; /* Adjust the height as needed */
/*  margin: 0 10px; /* Adjust the margin for spacing */
}

.fc-view-harness
{
    background-color: #1a1919 !important;
}

.flashes {
    list-style: none;
    padding: 10px;
    margin: 10px 0;
    background: rgba(14,14,14,255);
    color: red; /* Red text color */
    text-align: center;
    border-radius: 5px;
}