.fc-header-toolbar{
	height: 15px;
	padding-bottom: 20px;
	padding-top: 10px;
}

.fc-today-button{
	height: auto;
}

.fc-button-group{
	height: auto;
}

.fc-button{
	width: 90px;
}

.fc-button-listWeek{
	width: 100px;
}

.fc-prev-button, .fc-next-button{
	height: 45px;
	width: auto;
	padding-top: -10px;
}


/* Individual List Event */
.fc-list-event { /* event sleves themselves */
	color : black;

    border-bottom: 1px solid black; 
    padding: 10px; 
    background-color: black;
}

/* List Event Title */
.fc-list-event-title {
  color: #3498db; /* event text color */
}

/* List Event Time */
.fc-list-event-time {
  color: #888; /* event time text color */
}


.fc-listWeek-view { /*background of listview*/
  background-color: #232323; /* Your desired background color */
  border: 1px solid #ddd; /* Your desired border color */
}

.fc-day {
	color: black;
	background-color: white;
}

.fc-daygrid-day-events{
	color:black;
	size: 20px;
}

.fc-view-harness{ /* the highlighted day */
	color: black;
	background-color: #FFFCB9;
}

.fc-col-header{
	color: white;
}

.fc-day-selected {
  border: 2px solid red; /* Your desired border color */
  color: red;
  background-color: green;
}