<!-- open_convo.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Cinzel&family=IM+Fell+French+Canon+SC&family=Julius+Sans+One&family=Marcellus&family=Marcellus+SC&family=Philosopher&family=Poiret+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/182976f003.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='messages.js') }}"></script>
</head>
<body style="background: rgba(14,14,14,255);" class="body2">

    <nav>
        <a href="{{ url_for('dashboard', id=user_id) }}">Back to Dashboard</a>
        <a href="{{ url_for('calendar', id=user_id) }}">Calendar</a>
        <a class="split">Chrono</a>
    </nav>
<div class="content-wrapper">
    <div class="view-open-chats">
        <div class="tab">
            {% set unique_emails = [] %}
            {% set all_messages = received_messages + sent_messages %}
            {% for message in all_messages %}
                {% if message.sender.email not in unique_emails and message.sender.id != user_id %}
                    {% set _ = unique_emails.append(message.sender.email) %}
                    <form action="{{ url_for('open_convo', id=user_id, convo_id=message.sender.email) }}" method="post">
                        <button class="tablinks">{{ message.sender.email }}</button>
                    </form>
                {% endif %}
                {% if message.recipient.email not in unique_emails and message.recipient.id != user_id %}
                    {% set _ = unique_emails.append(message.recipient.email) %}
                    <form action="{{ url_for('open_convo', id=user_id, convo_id=message.recipient.email) }}" method="post">
                        <button class="tablinks">{{ message.recipient.email }}</button>
                    </form>
                {% endif %}
            {% endfor %}   
        </div>   
    </div>
<div class="messages-wrapper">
    <div class="view-messages">
        <div class="convo-user">
            <p>{{convo_id}}</p>
        </div>
        {% set all_messages = received_messages + sent_messages %}
        {% for message in all_messages|sort(attribute='timestamp') %}
            {% if (message.sender.id == user_id and message.recipient.email == convo_id) or
                  (message.recipient.id == user_id and message.sender.email == convo_id) %}
                {% if message.sender.id == user_id %}
                    <div class="sentMsg">
                {% else %}
                    <div class="receivedMsg">
                {% endif %}
                    {{ message.body }}<br>
                    <!-- <span>{{ message.timestamp }}</span> -->
                </div>
            {% endif %}
        {% endfor %}
        <!-- SHOULD REPLY ON ENTER -->
        <form id="sendMessageForm" data-user-id="{{ user_id }}" data-convo-id="{{ convo_id }}">
            <textarea class="reply" id="reply" name="reply" placeholder="Enter to reply..." required></textarea>
        </form>
    </div>

    <div class="send-messages">
    <form action="{{ url_for('send_message', id=user_id) }}" method="post">
        <div class="column">
          <label for="body">✎ Compose Message:</label>
          <br>
          <textarea id="body" name="body" required></textarea>
        </div>
        <div class="column">
          <label for="email">To:</label>
          <br>
          <input class="dark" type="text" id="email" name="email" placeholder="Enter an email" required>
          <br>
          <button type="submit">Send Message</button>
        </div>
    </form>
    </div>

    
</div>
</div>
</body>
</html>