<!-- Register Page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Cinzel&family=IM+Fell+French+Canon+SC&family=Julius+Sans+One&family=Marcellus&family=Marcellus+SC&family=Philosopher&family=Poiret+One&display=swap" rel="stylesheet">
</head>

    <title>Login page</title>

<body>
<div class="backBox">
    <div class="registerBox">
        <h2>Create your Chrono account</h2>

    <!-- Flash messages logic -->

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'login' %}
                    <div style="color:red; text-align: left;" class="notification is-danger">
                        {{ messages[0] }} <br> Go to <a href="{{ url_for('login')}}">Login Page</a>
                    </div>
                {% else %}
                    <div style="color:red; text-align: left;" class="notification is-danger">{{ messages[0] }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

            <!-- Still Needs form actions -->

        <form action="{{ url_for('register_backend') }}" method="post">
            <p style="display: inline;">Already Registered? <a href="{{ url_for('login') }}">Sign In<br><br></a></p>

            <label for="new_name">Enter name:</label>
            <input style="margin-top: 5px; margin-bottom: 15px;" type="text" id="new_name" name="new_name" required>
    
            <br>
    
            <label for="new_email">Email:</label>
            <input style="margin-top: 5px; margin-bottom: 15px;" type="text" id="new_email" name="new_email" required>
    
            <br>
    
            <label for="new_password">Create Password:</label>
            <input style="margin-top: 5px; margin-bottom: 15px;" type="password" id="new_password" name="new_password" required>
    
            <br>

            <input style="margin-top: 15px;" type="submit" value="Create Account">
            <p id="updateDisplay" style="display:none;"></p>
        <form >

        </div>
    <div class="textBox">
        <h1>Chrono</h1>
    </div>
</div>

</body>
</html>